body {
   font-family: "Lato", sans-serif;
}

.wrapper {
   position: relative;
   /*overflow: hidden;*/
   min-height: 100%;
}

.header__item {
   background-color: rgb(96, 178, 233);
   padding: 20px;
   text-align: center;
   font-weight: 700;
   color: white;
   text-transform: uppercase;
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 4;

}



.car__container {

   background: url('../img/road-trip.jpg') 0 0 /100% auto no-repeat;
   height: 950px;
   margin-bottom: 50px;
   position: relative;
   width: 1900px;
   z-index: 3;
}

.car__first {
   background-color: grey;
   height: 30px;
   width: 500px;
   border-radius: 0 0 20px 20px;
   position: absolute;
   bottom: 100px;
   left: 670px;
}

.car__second {
   background-color: blue;
   height: 110px;
   width: 500px;
   border-radius: 100px 100px 0px 0px;
   position: absolute;
   bottom: 130px;
   left: 670px;
}

.car__third {
   background-color: blue;
   height: 150px;
   width: 300px;
   border-radius: 150px 150px 0px 0px;
   position: absolute;
   bottom: 240px;
   left: 760px;
}

.car__fourth {
   background-color: black;
   height: 120px;
   width: 120px;
   border-radius: 100px;
   position: absolute;
   bottom: 40px;
   left: 740px;
}

.car__fifth {
   background-color: black;
   height: 120px;
   width: 120px;
   border-radius: 100px;
   position: absolute;
   bottom: 40px;
   right: 800px;
}

.car__sixth {
   position: absolute;
   background-color: white;
   height: 70px;
   width: 70px;
   border-radius: 100px;
   bottom: 64px;
   left: 765px;
}

.car__seventh {
   position: absolute;
   background-color: white;
   height: 70px;
   width: 70px;
   border-radius: 100px;
   bottom: 64px;
   right: 826px;
}

.car__eighth {
   background-color: rgb(215, 208, 208);
   height: 130px;
   width: 270px;
   border-radius: 150px 150px 0px 0px;
   position: absolute;
   bottom: 240px;
   left: 775px;
}

.car__nineth {
   background-color: rgb(96, 178, 233);
   height: 100px;
   width: 100px;
   border-radius: 0% 100% 100% 0% / 100% 100% 0% 0%;
   position: absolute;
   bottom: 250px;
   right: 880px;

}

.car__tenth {
   background-color: rgb(96, 178, 233);
   height: 100px;
   width: 100px;
   border-radius: 100% 0% 0% 100% / 100% 100% 0% 0%;
   position: absolute;
   bottom: 250px;
   right: 1000px;
}

.car__eleventh {
   background-color: rgb(255, 0, 0);
   height: 20px;
   width: 50px;
   border-radius: 10px 10px;
   position: absolute;
   bottom: 388px;
   right: 970px;
}

.car__twelveth {
   background-color: rgb(216, 97, 23);
   height: 20px;
   width: 50px;
   border-radius: 10px 10px;
   position: absolute;
   bottom: 188px;
   right: 750px;
}

.car__thirteenth {
   background-color: rgb(216, 97, 23);
   height: 20px;
   width: 50px;
   border-radius: 10px 10px;
   position: absolute;
   bottom: 188px;
   right: 1200px;
}

.car__fourtenth {
   color: red;
   font-weight: 900;
   font-size: 36px;
   text-transform: uppercase;
   height: 20px;
   width: 50px;
   position: absolute;
   bottom: 188px;
   right: 1020px;
}


.position__container {

   max-width: 850px;
   margin: 0 auto;
   position: relative;
}

.position_item {
   padding: 20px;
   text-align: center;
   font-weight: 700;
   color: white;
   text-transform: uppercase;
}

.position_item--red {
   background-color: red;
   position: relative;
   top: 20px;
   left: 40px;

}

.position_item--green {
   background-color: green;

}

.position_item--yellow {
   background-color: yellow;
   position: absolute;
   top: 0;
   right: 30px;
   width: 100%;


}

.position_item--pink {
   background-color: pink;
   position: sticky;
   top: 20px;
   z-index: 5;
}

.position__text {
   background-color: rgb(28, 177, 218);
   padding: 25px;
   border: 2px solid darkcyan;
}